<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Data Source=10.10.5.231;Initial Catalog=SMEVSEV;Persist Security Info=True;User ID=sa;Password=FG25sbf12345" />
    <add key="Path" value="DATA\MessageData.dat" />
  </appSettings>
</configuration>